<!--  -->

<div class="row mt-3">
  <div class="col-md-6">
    <div class="form-group">
      <label class="mdtext">Paid Amount </label>
      <div class="form-control mt-2 mdtext">
        {{ detailsItem?.onAccountCollectionJod }}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="mdtext">Remaining Available Credit </label>
      <div class="form-control mt-2 mdtext">0</div>
    </div>
  </div>
</div>

<!--  -->
<div class="row mt-3">
  <div class="col-md-6">
    <div class="form-group">
      <label class="mdtext">Credit limit </label>
      <div class="form-control mt-2 mdtext">0</div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="mdtext">Consumed Credit</label>
      <div class="form-control mt-2 mdtext">0</div>
    </div>
  </div>
</div>
