<div class="row mt-3">
  <div class="col-md-4">
    <div class="form-group">
      <label class="mdtext">Date </label>
      <div class="form-control mt-2 mdtext">
        {{ detailsItem?.chequeDate | date }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="mdtext">Paid Amount </label>
      <div class="form-control mt-2 mdtext">
        {{ detailsItem?.chequeCollectionJod }}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label class="mdtext">Cheque No.</label>
      <div class="form-control mt-2 mdtext">{{ detailsItem?.chequeNo }}</div>
    </div>
  </div>
</div>

<!--  -->
<div class="row mt-3">
  <div class="col-md-6">
    <div class="form-group">
      <label class="mdtext">Bank name</label>
      <div class="mdtext form-control mt-2">
        {{ detailsItem?.bankName[0]?.lookupName }}
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="mdtext">Cheque drawer name</label>
      <div class="form-control mt-2 mdtext">
        {{ detailsItem?.chequeDrawerName }}
      </div>
    </div>
  </div>
</div>
